*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #181820;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #21212b;
    font-family: 'Roboto', sans-serif;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #21212b;
}

.logo h4{
    background-color: #21212b;
    margin-left: 6%;
    margin-top: 2.2%;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    background-color: #21212b;
}

.nav-links li{
list-style: none;
background-color: #21212b;
}

.nav-links a{
    color:rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    background-color: #21212b;
}

.options{
    vertical-align: middle;
}

.burger{
    display: none;
    background-color: #21212b;
    margin-right: 15px;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 50%;
    }
    .card {
        width: 60%;
    }
    .logo h4{
        margin-top: 10px;
    }
}

@media screen and (max-width:786px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 95vh;
        top: 5vh;
        background-color: #21212b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .card{
        width: 80%;
    }
    .cards{
        width: 80%;
    }
    .heading{
        padding: 20px;
        font-size: 30px;
    }
    .logo h4{
        margin-top: 13px;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);  
    }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.container{
    width: 85%;
    margin: 50px auto;
}

.heading{
    font-size: 20px;
    color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    margin-left: 5%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    border-radius: 15px;
}

.rows{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: wrap;
    border-radius: 15px;
}

.card{
    width:500px;
    background: #21212b;
    margin-bottom: 50px;
    border-radius: 15px;
}

.cards{
    width:2000px;
    background: #21212b;
    margin-bottom: 50px;
    border-radius: 15px;
}

.card-header{
    margin-left: 5%;
    text-align: left;
    padding:20px 10px;
    background: #21212b;
    color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
}

.card-header h1{
    margin-top: 20%;
    background: #21212b;
}

.card-header h2{
    margin-top: 1%;
    background: #21212b;
}

.card-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(226, 226, 226);
    background-color: #21212b;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.card-body p{
    background-color: #21212b;
}

.card-body .btn{
    display: none;
    overflow: hidden;
    display: block;
    color: rgb(226, 226, 226);;
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

.btn{
    border-radius: 5px;
    background-color: #181820;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.cards:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.details{
    color: dimgrey;
    font-size: small;
    background-color: #21212b;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
